{% extends 'index.html' %}

{% block body %}
<form action='/admin/boardAdd' method='POST'>
    <ul class='form-style'>
        <li>
            <label>BoardName</label>
            <input type='text' name='name' class='field-long'/>
        </li>
        <li>
            <label>Admin-Only</label>
            <input type='checkbox' name='admin' value='1'/>
        </li>
        <li>
            <input type='submit' value='Add'/>
        </li>
    </ul>
</form>
{% endblock %}

{% block footer %}
{% endblock %}