{% extends 'index.html' %}

{% block body %}
    <div>
        <div>
            <form>
                <ul class='form-style'>
                    <li>
                        <input type='hidden' name='id' value='{{board.board_id}}'/>
                        <label>BoardName</label>
                        <input type='text' name='name' class='field-long' value='{{board.board_name}}'/>
                    </li>
                    <li>
                    <li>
                        <label>Admin-Only</label>
                        {% if board.admin %}
                            <input type='checkbox' name='admin' value='1' checked/>
                        {% else %}
                            <input type='checkbox' name='admin' value='1'/>
                        {% endif %}
                    </li>
                    <li>
                        <label>글 개수</label>
                        <label>{{count.count}}</label>
                    </li>
                    <li>
                        <input type='submit' value='Fix' formAction='/admin/boardUpdate', formmethod='POST'/>
                        <input type='submit' value='X' formAction='/admin/boardDelete', formmethod='POST'/>
                    </li>
                </ul>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}