{% extends 'index.html' %}

{% block body %}
    <div>
        <form>
            <ul class='form-style'>
                <li>
                    <label>ID:</label>
                    <input type='text' name='id' value='{{user.c_id}}'' readOnly></input>
                </li>
                <li>
                    <label>NAME</label>    
                    <input name='name' value={{user.c_name}}></input>
                </li>
                <li>
                    <input type='submit' value='Fix' formAction='/user/updateUser', formmethod='POST'/>
                    <input type='submit' value='X' formAction='/user/deleteUser', formmethod='POST'/>
                </li>
            </ul>
        </form>
    </div>

    <div id='mainWrapper'>
        <ul>
            <li>
                <ul id='ulTable'>
                    <li>
                        <ul>
                            <li>게시판</li>
                            <li>제목</li>
                            <li>작성일</li>
                            <li>작성자</li>
                            <li>댓글수</li>
                        </ul>
                    </li>
                    {% for list in posts%}
                        <li>
                            <ul>
                                <li class='center'>{{list.board_name}}</li>
                                <li>
                                    <a href='/board/{{list.board_id}}/{{list.post_id}}'>{{list.post_title}}</a>
                                </li>
                                <li class='center'>{{list.date}}</li>
                                <li class='center'>{{list.author}}</li>
                                <li class='center'>{{list.count}}</li>
                            </ul>
                        </li>
                    {% endfor %}
                    <li>
                        <div id='divPaging'>
                            <div>◀</div>
                            {% for i in range(1, maxPage + 1) %}
                                {% block paging %}
                                    <div><a href='/admin/userManagement/{{user.c_id}}?page={{i}}''>{{i}}</a></div>
                                {% endblock %}
                            {% endfor %}
                            <div>▶</div>
                        </div>
                    </li>				
                </ul>
            </li>
        </ul>   
    </div>
{% endblock %}

{% block footer %}
{% endblock %}