{% extends "index.html" %}

{% block body %}
    <div>
        <div>
            <form>
                <ul class="form-style">
                    <li>
                        <label>ID:</label>
                        <input type="text" name="id" value="{{ user.c_id }}" readOnly></input>
                    </li>
                    <li>
                    <li>
                        <label>NAME</label>    
                        <input name='name' value={{ user.c_name }}></input>
                    </li>
                    <li>
                        <input type="submit" value="Fix" formAction="/user/updateUser", formmethod="POST"/>
                        <input type="submit" value="X" formAction="/user/deleteUser", formmethod="POST"/>
                    </li>
                </ul>
            </form>
        </div>
    </div>
{% endblock %}