@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  background: #4691A4;
  width: auto;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #333333;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}
/*-----------------------------*/
.form-style {
  margin:10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style label{
  margin:0 0 3px 0;
  padding:0px;
  display:block;
  font-weight: bold;
}
.form-style input[type=text], 
.form-style input[type=password] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 7px;
  margin:0px;
  outline: none;	
}
.form-style input[type=text]:focus, 
.form-style input[type=password]:focus {
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
.form-style .field-long{
  width: 100%;
}
.form-style .field-select{
  width: 100%;
}
.form-style input[type=submit], .form-style input[type=button]{
  background: #4B99AD;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
.form-style input[type=submit]:hover, .form-style input[type=button]:hover{
  background: #4691A4;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}
.form-style .required{
  color:red;
}


/* admin/users.html-----------------------------*/
table.type01 th { width: 150px; padding: 10px; font-weight: bold; vertical-align: top; border: 1px solid #ccc;}
table.type01 td { width: 350px; padding: 10px; vertical-align: top; border: 1px solid #ccc; }
table.type01 { border-collapse: collapse; text-align: left; line-height: 1.5; margin : 20px 10px;}


/* userDetail-----------------------------*/
.users {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.users li {
  text-align: center;
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.users li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.users a {
  color: #333;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.users a:hover {
  color:#607D8B;
}

.users .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
}

/* post */

ul, li{ 
    list-style:none;
    padding:0;
    margin:0;
  }

#mainWrapper{
    width: 800px;
  margin: 0 auto; /*가운데 정렬*/
}

#mainWrapper > ul > li:first-child {
  text-align: center;
  font-size:14pt;
  height:40px;
  vertical-align:middle;
  line-height:30px;
}

#ulTable {margin-top:10px;}


#ulTable > li:first-child > ul > li {
  background-color:#c9c9c9;
  font-weight:bold;
  text-align:center;
}

  #ulTable > li > ul {
    clear:both;
    padding:0px auto;
    position:relative;
    min-width:40px;
  }
  #ulTable > li > ul > li { 
    float:left;
    font-size:10pt;
    border-bottom:1px solid silver;
    vertical-align:baseline;
  }    

  #ulTable > li > ul > li:first-child           	{width:10%;} /*No 열 크기*/
  #ulTable > li > ul > li:first-child +li       	{width:45%;} /*제목 열 크기*/
  #ulTable > li > ul > li:first-child +li+li    	{width:20%;} /*작성일 열 크기*/
  #ulTable > li > ul > li:first-child +li+li+li 	{width:15%;} /*작성자 열 크기*/
  #ulTable > li > ul > li:first-child +li+li+li+li{width:10%;} /*조회수 열 크기*/

/*/////////////////////////////////////*/
#mainWrapper2{
  width: 800px;
}

#mainWrapper2 > ul > li:first-child {
text-align: center;
font-size:14pt;
height:40px;
vertical-align:middle;
line-height:30px;
}
#ulTable2 > li:first-child > ul > li {
  background-color:#c9c9c9;
  font-weight:bold;
  text-align:center;
}
  
  #ulTable2 > li > ul {
    clear:both;
    padding:0px auto;
    position:relative;
    min-width:40px;
  }
  #ulTable2 > li > ul > li { 
    float:left;
    font-size:10pt;
    border-bottom:1px solid silver;
    vertical-align:baseline;
  } 
  #ulTable2 > li > ul > li:first-child           	{width:45%;} /*댓글*/
  #ulTable2 > li > ul > li:first-child +li       	{width:20%;} /*제목 열 크기*/
  #ulTable2 > li > ul > li:first-child +li+li    	{width:25%;} /*작성일 열 크기*/
  #ulTable2 > li > ul > li:first-child +li+li+li 	{width:10%;} /*작성자 열 크기*/
  

  #divPaging {
    clear:both; 
    margin:0 auto; 
    width:220px; 
    height:50px;
  }

  #divPaging > div {
    float:left;
    width: 30px;
    margin:0 auto;
    text-align:center;
   }

  #liSearchOption {clear:both;}
  #liSearchOption > div {
    margin:0 auto; 
    margin-top: 30px; 
    width:auto; 
    height:100px; 
   
  }

  .center {
    text-align : center;
  }

body{
  margin:0;
  padding:0;
  width:100%;
  height:100%
}
#wrapper {
  position: relative;
  min-height: 100%;
}

body{
  min-height: 100%;
  line-height:2em;		
  font-family:"맑은 고딕";
}
.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
      padding: 80px 0;
      text-align: center;
      color: white;
      /*background: rgb(163, 163, 165);*/
}