{% extends 'index.html' %}

{% block body %}
<!-- macro area -->
    {% macro input(name, type, extraOptions) %}
        <li>
            <label>{{name}}<span class='required'>{{extraOptions}}</span></label>
            <input type='{{type}}' name='{{name}}' class='field-long' placeholder='{{name}}'/>
        </li>
    {% endmacro %}
    {% macro submit(buttonType, name, extraOptions) %}
        <li>
            <input type='{{buttonType}}' id={{name}} {{extraOptions}} value='{{name}}'/>
        </li>
    {% endmacro %}
<!-- endmacro -->
<div id='loginDiv'>
    <form class='login' name='login' action='/user/login' method='POST'>
        <ul class='form-style'>
            {{input('id', 'text')}}
            {{input('password', 'password')}}
            {{submit('button', 'login')}}
        </ul>
    </form>
    <form class='signup' name='signUp' action='/user/userAdd' method='POST'>
        <ul class='form-style'>
            {{input('id', 'text', '*')}}
            {{submit('button', 'checkID')}}
            {{input('name', 'text', '*')}}
            {{input('password', 'password', '*')}}
            {{submit('button', 'signup', 'onClick=signUpCheck()')}}
        </ul>
    </form>
</div>
    <script type='text/javascript'>
        checkSpace = (str) => {
            if (str.search(/\s/) !== -1) {
                return true;
            } else {
                return false;   
            };
        };
        checkSpecial = (str) => {
            const special_pattern = /[`~!@#$%^&*|\\\'\";:\/?]/gi;
            if (special_pattern.test(str) === true) {
                return 1;
            } else {
                return 0;
            };
        };
        //login 
        $(() => {
            $('#login').click(() => {
                const id = document.login.id.value;
                const password = document.login.password.value;
                if (id === '' || checkSpace(id) || password === '' || checkSpace(password)) {
                    alert('빈칸없이 입력해주세요.');
                    document.login.id.value = '';
                    document.login.password.value = '';
                    return;
                };
                $.ajax({
                    async : true,
                    type : 'POST',
                    data : {
                        id: id,
                        password: password,
                    },
                    url : '/user/login',
                    dataType : 'json',
                    success : (data) => {
                        if (data.message === 0) {
                            alert('잘못된 아이디');
                            document.login.id.value = '';
                            document.login.password.value = '';
                        } else if (data.message === 1) {
                            alert('잘못된 비밀번호')
                            document.login.password.value = '';
                        } else {
                            window.location.href = '/';
                        };
                    },
                });
            });
        });
        //id 변경체크
        let idck = 0;
        const inputCheck = document.signUp.id;
        inputCheck.addEventListener('input', () => {
            idck = 0;
        });
        //id 중복체크
        $(() => {
            $('#checkID').click(() => {
                const id = document.signUp.id.value;
                if (id === '' || checkSpace(id) || checkSpecial(id)) {
                    return alert('올바른 형식의 id를 입력해주세요.');
                };
                $.ajax({
                    async : true,
                    type : 'POST',
                    data : {
                        id : id,
                    },
                    url : '/user/suCheck',
                    dataType : 'json',
                    success : (data) => {
                        if (data.id === 0) {
                            alert('아이디가 이미 존재합니다. 다른아이디를 입력해주세요.');
                            document.signUp.id.value = '';
                        } else {
                            alert('사용가능한 아이디입니다.');
                            idck = 1;
                        };
                    },
                });
            });
        });
        //회원가입
        const signUpCheck = () => {
            const signupForm = document.signUp;
            const id = signupForm.id.value;
            const name = signupForm.name.value;
            const password = signupForm.password.value;
            if (idck === 0) {
                return alert('id중복확인을 해주세요.');
            };
            if (id === '' || checkSpace(id) || name === '' || checkSpace(name) || password === '' || checkSpace(password)) {
                alert('빈칸없이 입력해주세요.');
                signupForm.id.value = '';
                signupForm.name.value = '';
                signupForm.password.value = '';
            } else if(checkSpecial(id) || checkSpecial(name)) {
                alert('특수문자 없이 입력해주세요.');
                signupForm.id.value = '';
                signupForm.name.value = '';
                signupForm.password.value = '';
            } else {
                signupForm.submit();
            };
        };
    </script>
{% endblock %}

{% block footer %}
{% endblock %}