{% extends "index.html" %}

{% block body %}
    {% macro input (name, type, extraOptions) %}
        <li>
            <label>{{ name }}<span class="required">{{ extraOptions }}</span></label>
            <input type="{{ type }}" name="{{ name }}" class="field-long" placeholder="{{ name }}"/>
        </li>
    {% endmacro %}
    {% macro submit (name) %}
        <li>
            <input type="submit" value="{{ name }}"/>
        </li>
    {% endmacro %}
<!-- endmacro -->
    <form action="/user/login" method="POST">
        <ul class="form-style">
            {{ input ('id', 'text') }}
            {{ input ('password', 'password') }}
            {{ submit ('login') }}
        </ul>
    </form>
    <form action="/user/userAdd" method="POST">
        <ul class="form-style">
            {{ input ('id', 'text', '*') }}
            {{ input ('name', 'text', '*') }}
            {{ input ('password', 'password', '*') }}
            {{ submit ('signup') }}
        </ul>
    </form>
{% endblock %}

