{% extends "index.html" %}

{% block body %}
    <div id="mainWrapper">
        <ul>
            <li>
                <li> {{ boardName.board_name }} </li>
                <ul id="ulTable">
                    <li>
                        <ul>
                            <li>No</li>
                            <li>제목</li>
                            <li>작성일</li>
                            <li>작성자</li>
                        </ul>
                    </li>
                    <!-- index = 1 * page * page당글갯수 -->
                    {% set index = 1 %}
                    {% for list in posts%}
                        <li>
                            <ul>
                                <li class="center">{{ index }}</li>
                                <li><a href="/board/{{ boardName.board_id }}/{{ list.post_id }}">{{ list.post_title }}</a></li>
                                <li class="center">{{ list.date }}</li>
                                <li class="center">{{ list.author }}</li>
                            </ul>
                        </li>	
                    {% set index = index +1 %}
                    {% endfor %}				
                </ul>
            </li>
        </ul>   
        {% if session.isValid %}
            {% if session.admin %}
                <a href="/board/{{ boardName.board_id }}/addPost"><button>NEW POST</button></a>
            {% elif boardName.admin == false %}
                <a href="/board/{{ boardName.board_id }}/addPost"><button>NEW POST</button></a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
