{% extends 'index.html' %}
{% block css %}
<style>
.main {
    display: flex;
}
.mainContainer {
	display: flex;
	flex: 1;
}
.leftDiv {
	flex: 7;
}
.leftDiv > h2 {
	flex: 1;
}
.marginDiv {
	flex: 3;
}

.mb-3 {
	display: flex;
}
.postTitle {
	flex: 1;
	text-align: center;
}
#title,
#body {
	flex: 9;
}

.buttonDiv {
	display: flex;
	flex-direction: row-reverse;
}
.buttonDiv > input {
	flex: 2;
}
.buttonDiv > input+li {
	flex: 8;
}
</style>    
{% endblock %}
{% block body %}
    {% macro form(board_name, board_id, post_title, post_id, post_body, page, valueAttr) %}
        <div class='mainContainer' role='main'>
            <div class='leftDiv'>
                <h2>{{board_name}}</h2>
                {% block formLink %}
                <form name='form' action='/board/{{board_id}}/{{post_id}}/updatePost?page={{page}}' method='post'>
                {% endblock %}
                    <div class='mb-3'>
                        <label class='postTitle'>제목</label>
                        <input type='text' name='title' id='title' {{valueAttr}}='{{post_title}}'/>
                    </div>
                    <div class='mb-3'>
                        <label class='postTitle'>내용</label>
                        <textarea rows='15' name='body' id='body' {{valueAttr}}='{{post_body}}'>{{post_body}}</textarea>
                    </div>			
                    <div class='buttonDiv'>
                        <input type='button' class='mb3Button' onclick='titleTest()' value='저장'/>
                        <li></li>
                    </div>
                </form>
            </div>
            <div class='marginDiv'></div>
        </div>
        <script>
            const titleTest = () => {
                const postForm = document.form;
                const title = postForm.title.value;
                //앞뒤 여백체크?
                if (title === '' || title.trim() !== title) {
                    return alert('알맞은 제목을 입력해 주세요.');
                } else {
                    postForm.submit();
                };
            };
        </script>
    {% endmacro %}
    
    {% block macro %}
        {{form(info.board_name, info.board_id, info.post_title, info.post_id, info.post_body, page, 'value')}}
    {% endblock %}

{% endblock %}

{% block footer %}
{% endblock %}